body {
    font-family: 'Montserrat', sans-serif;
    transition: 3s;
  }
  #idd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/lo.jpg');
    background-size: cover;
    background-position: center;
  }
  
  
  .login-container {
    margin-top: 10%;
    border: 1px solid #CCD1D1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 50%;
  }
  .icon-input {
    position: relative;
  }
  .icon-input {
    position: relative;
    margin-bottom: 10px; /* Add margin-bottom for spacing */
  }

  .icon-input input[type="text"],
  .icon-input input[type="password"] {
    padding-left: 30px;
  }

  .icon-id, .icon-username, .icon-address, .icon-password {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }

  .icon-id {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-record2-fill\' viewBox=\'0 0 16 16\'><path d=\'M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0\'/><path d=\'M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10m0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6\'/></svg>');
  }

  .icon-username {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-person-fill\' viewBox=\'0 0 16 16\'><path d=\'M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6\'/></svg>');
  }

  .icon-address {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-buildings-fill\' viewBox=\'0 0 16 16\'><path d=\'M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z\'/></svg>');
  }

  .icon-password {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-lock-fill\' viewBox=\'0 0 16 16\'><path d=\'M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2\'/></svg>');
  }
  .icon {
         background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-envelope-at-fill\' viewBox=\'0 0 16 16\'><path d=\'M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671\'/><path d=\'M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791\'/></svg>');
       }
       .icon {

        position: absolute;
        
        left: 10px;
        
        top: 8px;
        
        background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-envelope-at-fill\' viewBox=\'0 0 16 16\'><path d=\'M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671\'/><path d=\'M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791\'/></svg>');
        
        background-size: 16px 16px;
        
        width: 16px;
        
        height: 16px;
        
        }
        .ads {
          // background-color: #9b6b4b;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          color: #fff;
          padding: 15px;
          text-align: center;
          background-color: rgba(155, 107, 75, 0.8); /* רקע חלקית שקוף */
          backdrop-filter: blur(50%); /* מסננים את הרקע כדי ליצור אפקט מעטות */
        }
  
  .ads h1 {
    margin-top: 20%;
  }
  
  #fl {
    font-weight: 600;
  }
  
  #sl {
    font-weight: 100 !important;
  }
  
  .profile-img {
    text-align: center;
  }
  
  .profile-img img {
    border-radius: 50%;
    /* animation: mymove 2s infinite; */
  }
  
  @keyframes mymove {
    from {border: 1px solid #F2F3F4;}
    to {border: 8px solid #F2F3F4;}
  }
  
  .login-form {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* רקע חלקית שקוף */
    backdrop-filter: blur(50%); /* מסננים את הרקע כדי ליצור אפקט מעטות */
  }
  
  
  .login-form h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .form-control {
    font-size: 14px;
  }
  
  .forget-password a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
  }
  

